	body{
	width: 100%;
	margin: 0 auto;
	background-color: #fafaed;
	font-family: 'Anonymous Pro';
}

hr{
	border: 0.05em solid black;
}

a{
	text-decoration: none;
}

/*NAVIGATION*/

nav{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

nav ul{
	margin-top: 50px;
	margin-bottom: 100px;
	list-style: none;	
	text-decoration: none;
}

nav ul a li{
	display: inline;

	
	color: #5f5f5f;
	font-weight: bold;
	font-size: 1.5em;

	transition: color 0.35s ease-in-out;
}

nav ul a li:hover{
	color: black;
}

nav ul a li:nth-child(1){
	margin: 0 10%;
}

/*TITLE*/
label.title h1{
	font-size: 8em;
	margin-left: 100px;
	margin-bottom: 75px;
	text-transform: uppercase;
	font-weight: normal;
}

/*Portfolio*/
section.portfolio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

section.portfolio div.work{
	margin: 20px 80px;
}

section.portfolio div.work{
	max-width: 320px;
	max-height: 320px;
	overflow: hidden;
	border: 3px solid black;
}

section.portfolio div.work div.more img{
	max-width: 320px;
	transition: transform 0.6s ease-in-out;
}

section.portfolio div.work div.more img:hover{
	transform: translateY(-95px);
}

section.portfolio h3{
	font-size: 1.4em;
}

section.portfolio h4{
	font-size: 1.1em;
}

/*About me*/
section.about-me{
	margin: 0 15%;
	
	font-size: 1.5em;
}

section.about-me p{
	margin-bottom: 50px;
}

section.about-me p:first-child{
	margin-bottom: 80px;
}

/*Contact me*/
section.contact-me{	
	margin-left: 20%;
}

section.contact-me div.input{
	margin-bottom: 50px;
}

section.contact-me div.input label{
	display: block;
	margin-bottom: 5px;
	
	font-family: 'Anonymous Pro';
	font-weight: bold;
	font-size: 1.4em;
}

section.contact-me div.input input{
	width: 60%;
	padding: 5px 0;
	padding-left: 5px;
	font-size: 1.2em;
	background-color: #fafaed;
	border: 2px solid black;
}

section.contact-me div.input textarea{
	background-color: #fafaed;
	border: 2px solid black;
	padding: 5px 0;
	padding-left: 5px;
	font-size: 1.5em;
	width: 70%;
}

section.contact-me [type="submit"]{
	border: 2px solid black;
	padding: 15px 60px;
	
	background-color: #fafaed;
	position: relative;
	font-size: 1.4em;
	font-family: 'Anonymous Pro';
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s;
	margin-bottom: 20px;
}

section.contact-me [type="submit"]:hover{
	background-color: black;
	color: white;
}

/*FOOTER*/
footer{
	width: 100%;
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
}

footer label{
	background-color: #fafaed;
}

footer div.social-sites{
	margin: 20px;
	background-color: #fafaed;
	display: inline-block;
}

footer div.social-sites img{
	max-width: 50px;
	max-height: 50px;
	margin-right: 15px;
}

footer div.social-sites img:last-child{
	max-width: 55px;
	max-height: 55px;	
	margin-right: 0px;
}


@media only screen and (max-width: 1200px){

	section.contact-me div.input input{
		width: 70%;
	}

	section.contact-me div.input textarea{
		width: 90%;
	}
	
	section.contact-me{	
		margin-left: 20%;
	}

}


@media only screen and (max-width: 1050px){
	label.title h1{
		font-size: 6em;
	}


	nav ul a li:nth-child(1){
		margin: 0 3%;
	}

	section.portfolio div.work{
		margin: 10px 30px;
	}

	nav ul{
		margin-top: 40px;
		margin-bottom: 50px;
	}

	section.contact-me{	
		margin-left: 10%;
	}

	section.contact-me div.input{
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 800px){
	nav ul a li{
		font-size: 1.3em;
	}

	label.title h1{
		font-size: 5em;
		margin-bottom: 40px;
		font-size: 4em;
	}

	section.portfolio{
		margin-bottom: 20px;
	}

	section.portfolio div.work{
		max-width: 250px;
		max-height: 250px;
	}

	section.portfolio div.work div.more img{
		max-width: 250px;
		transition: transform 0.6s ease-in-out;
	}

	section.portfolio div.work div.more img:hover{
		transform: translateY(-70px);
	}

	section.contact-me{	
		margin-left: 5%;
	}
}

/*REPOSONS*/
@media only screen and (max-width: 500px){
	label.title h1{
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: center;
		margin-left: 0;
		font-size: 3em;
	}

	nav{
		width: 100%;
		margin: 20px 0;
	}

	nav ul{
		margin-top: 20px;
		margin-bottom: 20px;
		display: none;
		padding: 0;
	}

	nav ul a li:nth-child(1){
		margin: 12px 0;
	}

	nav ul a li{
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	nav span.nav-btn{
		color: #5f5f5f;
		font-weight: bold;
		font-size: 1.5em;
		text-transform: uppercase;

		cursor: pointer;
		transition: color 0.35s ease-in-out;
	}

	nav span.nav-btn:hover{
		color: black;
	} 

	nav span.nav-btn:before{
		content: "Menu";
	}

	section.about-me{
		margin: 0 5%;
		font-size: 1.2em;
	}	

	section.about-me p{
		margin-bottom: 20px;
	}

	section.about-me p:first-child{
		margin-bottom: 40px;
	}

	section.contact-me div.input{
		margin-bottom: 20px;
	}
}