body{ 
	margin: 0 auto;
	width: 100%;
	background-color: #fafaed;
	font-family: 'Anonymous Pro';
}


nav ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin-top: 70px;
	margin-bottom: 90px;
}

nav ul a{
	text-decoration: none;
	color: #5f5f5f;
	font-size: 1.5em;
	font-weight: bold;
}


nav ul a li{
	display: inline-block;
	margin-right: 7%;
	transition: color 1s;
}

nav ul a li:hover{
	color: black;
}

label h1.title{
	padding: 0;
	margin-left: 100px;
	font-size: 6em;
	margin-bottom: 85px;
}

section.image-gallery{
	margin-top: 70px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 2;
}

section.image-gallery:nth-child(2){

}

section.image-gallery a img{
	max-height: 270px;
	margin-left: 50px;
	transition: opacity 1s;
	border-radius: 2%;

	opacity: 0.75;
	transition: opacity 0.5s;
}

section.image-gallery a img:hover{
	opacity: 1;
}

section.description{
	width: 80%;
	margin: 0 auto;
	font-size: 1.4em;
}

section.description ul {
	margin-bottom: 50px;
}


article.bottom-section{
	display: flex;
	align-items: center;
}

article.bottom-section div.quick-access{
	flex: 3;
}

article.bottom-section div.represent-images{
	flex: 1;
	text-align: center;
}

article.bottom-section div.represent-images img{
	max-height: 100px;
}

article.bottom-section div.represent-images img.icon{	
	max-height: 250px;
}


/*FOOTER*/
footer{
	width: 100%;
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
}

footer label{
	background-color: #fafaed;
}

footer div.social-sites{
	margin: 20px;
	background-color: #fafaed;
	display: inline-block;
}

footer div.social-sites img{
	max-width: 50px;
	max-height: 50px;
	margin-right: 15px;
}

footer div.social-sites img:last-child{
	max-width: 55px;
	max-height: 55px;	
	margin-right: 0px;
}

@media only screen and (max-width: 1200px){

	label h1.title{
		font-size: 4em;
		margin-left: 80px;
		margin-bottom: 50px;
	}

	section.description{
		width: 90%;
	}

	article.bottom-section div.represent-images img{
		max-height: 80px;
	}

	article.bottom-section div.represent-images img.icon{	
		max-height: 200px;
	}	
}

@media only screen and (max-width: 900px){

	nav ul{
		margin-top: 40px;
		margin-bottom: 50px;
	}

	article.bottom-section div.quick-access h2{
		font-size: 1.2em;
	}


	article.bottom-section div.represent-images img.icon{	
		max-height: 180px;
	}	
}

@media only screen and (max-width: 900px){
	nav ul{
		margin-top: 25px;
		margin-bottom: 30px;
	}

	section.image-gallery{
		margin-top: 30px;
	}

	label h1.title{
		font-size: 2.5em;
		margin-bottom: 10px;
	}

	section.description{
		font-size: 1.2em;
	}

	article.bottom-section div.quick-access img{
		max-height: 60px;
	}


	article.bottom-section div.represent-images img.icon{	
		max-height: 120px;
	}
}

@media only screen and (max-width: 630px){
	article.bottom-section{
		flex-direction: column;
	}


	label h1.title{
		font-size: 2em;
		margin-bottom: 10px;
	}

	nav{
		text-align: center;
		margin-top: 20px;
	}

	nav ul{
		display: none;
		padding: 0;
	}


	nav ul a li{
		display: block;
		margin-bottom: 7px;
		margin-right: 0;
	}

	nav span.nav-btn{
		text-align: center;
		color: #5f5f5f;
		font-weight: bold;
		font-size: 1.5em;
		text-transform: uppercase;

		cursor: pointer;
		transition: color 0.35s ease-in-out;
	}

	nav span.nav-btn:hover{
		color: black;
	} 

	nav span.nav-btn:before{
		content: "Menu";
	}
}