#myCanvas{
	position: absolute;
	top: 0px;
	z-index: -100;
}

body{
	width: 100%;
	margin: 0 auto;
	background-color: #fafaed;
	font-family: 'Anonymous Pro';
}

hr{
	border: 0.05em solid black;
}

a{
	text-decoration: none;
}

/*HEADER*/
header{
	margin-top: 120px;
	text-align: center;
	margin-bottom: 120px;
}

header h1{
	width: 65%;
	margin: 0 auto;
	margin-bottom: 100px;
	font-size: 8em;
	background-color: #fafaed;
}

header h2{
	width: 65%;
	margin: 0 auto;
	background-color: #0a0a23;
	text-transform: uppercase;
	color: white;
	font-size: 5em;
	margin-bottom: 150px;
	padding: 10px 0;
}

header div.learn-more label{
	background-color: #fafaed;
	font-size: 1.8em;
	text-transform: uppercase;
	color: black;
	margin-bottom: 10px;
}

/*NAVIGATION*/
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em; 
}

nav div.menu-item{
	height: 300px;
	width: 300px;
	border: 2px solid black;
	margin: 30px 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;

	background-size: 100% 200%;
	background-image: linear-gradient(to top, black 50%, #fafaed 50%);
	-webkit-transition: background-position 1s, color 1.7s;
    -moz-transition: background-position 1s, color 1.7s;
    transition: background-position 1s, color 1.7s;
}

nav div.menu-item:hover{
	background-position: 0 100%;
	color: white;
}

/*FOOTER*/
footer{
	width: 100%;
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
}

footer label{
	background-color: #fafaed;
}

footer div.social-sites{
	/*display: flex;
	justify-content: center;	
	align-items: center;*/
	margin: 20px;
	background-color: #fafaed;
	display: inline-block;
}

footer div.social-sites img{
	max-width: 50px;
	max-height: 50px;
	margin-right: 15px;
}

footer div.social-sites img:last-child{
	max-width: 55px;
	max-height: 55px;	
	margin-right: 0px;
}

@media only screen and (max-width: 1420px){
	header h1{
		font-size: 7em;
	}

	header h2{
		font-size: 4em;
	}
}

@media only screen and (max-width: 1240px){
	header h1{
		width: 80%;
		font-size: 6em;
	}

	header h2{
		margin-bottom: 80px;
	}
}

@media only screen and (max-width: 1100px){
	nav div.menu-item{
		width: 220px;
		height: 220px;
		margin: 30px 70px
	}

	footer{
		width: 100%;
		margin: 20px 0;
		text-transform: uppercase;
		font-size: 1.4em;
		text-align: center;
	}
}
	
@media only screen and (max-width: 870px){
	header{
		margin-top: 50px;
	}

	header h1{
		width: 90%;
		font-size: 5em;
	}

	header h2{
		width: 90%;
		font-size: 3em;	
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 550px){
	header{
		margin-top: 20px;
	}

	header h2{
		width: 100%;
		font-size: 2em;	
		margin-bottom: 50px;
	}

	nav div.menu-item{
		width: 150px;
		height: 150px;
		margin: 10px 20px
		color: black;
	}

	footer{
		width: 100%;
		margin: 10px 0;
		text-transform: uppercase;
		font-size: 1.4em;
		text-align: center;
	}
}